@import 'scorebug.scss';
@import 'sideboosts.scss';
@import 'focusplayer.scss';
@import 'boostfocused.scss';
@import 'replaycam.scss';

@font-face {
    font-family: BenzinBold;
    src: url('Assets/BenzinBold.ttf');
}

@font-face {
    font-family: AvertaBold;
    src: url('Assets/AvertaBold.otf');
}

// table {
//     border:1px blue solid;
//     td {
//         border:1px solid green;
//     }
// }


// // body {
// //     background: black;
// }

